:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
body {
  text-align: center;
  height: 100vh;
  font-family: "La Belle Aurore", cursive;
  margin: 20%;
}
.container {
  margin: 30px 10px;
}
h2 {
  font-size: 50px;
}
button {
  margin: 30px 30px;
  padding: 5px 5px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: skyblue;
}
